<section class="section account">

  <div class="account__auth-wrapper">

    <h1 class="account__auth-wrapper-heading type-heading-1">{{ 'customer.register.title' | t }}</h1>

    {% form 'create_customer' %}
      {% assign form_id = "RegisterForm" %}
      {% assign success_msg = 'customer.register.success' | t %}
      {% render 'form-status', form: form, form_id: form_id, success_message: success_msg %}

      <div class="contact__form-input-side-by-side">
        <div>
          <label for="{{ form_id }}-last_name">
            {{ 'customer.register.last_name' | t }}
          </label>
          <input
            type="text"
            name="customer[last_name]"
            id="{{ form_id }}-last_name"
            class="input"
            autocorrect="off"
            placeholder=""
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>         
        </div>
        <div>
          <label for="{{ form_id }}-first_name">
            {{ 'customer.register.first_name' | t }}
          </label>
          <input
            type="text"
            name="customer[first_name]"
            id="{{ form_id }}-first_name"
            class="input"
            autocorrect="off"
            placeholder=""
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
        </div>
      </div>

      <div>
        <label for="{{ form_id }}-email">
          {{ 'customer.register.email' | t }}
        </label>
        <input
          type="email"
          name="customer[email]"
          id="{{ form_id }}-email"
          class="input {% if form.errors contains 'email' %}input-error{% endif %}"
          placeholder=""
          value="{% if form.email %}{{ form.email }}{% endif %}"
          spellcheck="false"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'email' %}aria-describedby="{{ form_id }}-email-error"{% endif %}
          required>        
      </div>

      <div>
         <label for="{{ form_id }}-password">
          {{ 'customer.register.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="{{ form_id }}-password"
          class="input {% if form.errors contains 'password' %}input-error{% endif %}"
          placeholder=""
          {% if form.errors contains 'password' %}aria-describedby="{{ form_id }}-password-error"{% endif %}
          autocorrect="off"
          autocapitalize="off"
          required>
      </div>

      <!-- Custom metafields -->
    <div class="contact__form-input-side-by-side">
      <div>
        <label for="custom.tel">Numéro de téléphone</label>
        <input
        type="number"
        name="customer[note][custom.tel]"
        id="custom.tel"
        class="input"
        autocorrect="off"
        placeholder=""
        >
    </div>
  
      <div>     
        <label for="facts.birth_date">Date de naissance</label>
        <input
        type="date"
        name="customer[note][facts.birth_date]"
        id="facts.birth_date"
        autocorrect="off"         
        placeholder=""
        >
      </div>
    </div>
  
  <div>
    <label for="custom.acti_physique">Pratiquez-vous une activité physique ?</label>
    <input
      type="text"
      name="customer[note][custom.acti_physique]"
      id="custom.acti_physique"
      class="input"
      autocorrect="off"
      placeholder=""
      >   
  </div>

  <div>
    <label for="custom.yoga">Pratiquez-vous le yoga ? À quelle fréquence ?</label>
    <input
      type="text"
      name="customer[note][custom.yoga]"
      id="custom.yoga"
      class="input"
      autocorrect="off"
      placeholder=""
      >   
  </div>

  <div>
    <label for="custom.regime_alim">Suivez-vous un régime alimentaire particulier ?</label>
    <input
      type="text"
      name="customer[note][custom.regime_alim]"
      id="custom.regime_alim"
      class="input"
      autocorrect="off"
      placeholder=""
      >   
  </div>

  <div>
    <label for="custom.allergie_ou_into_alim">Avez-vous une allergie ou intolérance alimentaire ?</label>
    <input
      type="text"
      name="customer[note][custom.allergie_ou_into_alim]"
      id="custom.allergie_ou_into_alim"
      class="input"
      autocorrect="off"
      placeholder=""
      >
  </div>

  <div>
    <label for="custom.autres_allergies">Avez-vous d'autres allergies à signaler (plantes, médicaments, etc) ?</label>
    <input
      type="text"
      name="customer[note][custom.autres_allergies]"
      id="custom.autres_allergies"
      class="input"
      autocorrect="off"
      placeholder=""
      >
  </div>

  <div>
    <label for="custom.sante">Avez-vous un problème de santé ou un traitement médical à signaler ?</label>
    <input
      type="text"
      name="customer[note][custom.sante]"
      id="custom.sante"
      class="input"
      autocorrect="off"
      placeholder=""
      >
  </div>

  <div>   
    <label for="custom.covoiturage">Êtes-vous intéressé.e par du covoiturage ?</label>
    <input
      type="text"
      name="customer[note][custom.covoiturage]"
      id="custom.covoiturage"
      class="input"
      placeholder=""
    >
  </div>
  
  <div>
    <label for="custom.contact_urgence">Personne à contacter en cas d'urgence (prénom, nom et numéro de téléphone)</label>
    <input
      type="text"
      name="customer[note][custom.contact_urgence]"
      id="custom.contact_urgence"
      class="input"
      autocorrect="off"
      placeholder=""
      >
  </div>

      <input
        type="submit"
        value="{{ 'customer.register.submit' | t }}"
        class="bttn bttn--full mb3">

      <div class="login__links">
        <a class="underline" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
      </div>
    {% endform %}

  </div>

</section>