{% liquid
  assign show_headings = section.settings.show_headings
  assign show_payment_icons = section.settings.show_payment_icons
  assign show_locale_selector = section.settings.show_locale_selector
  assign show_currency_selector = section.settings.show_currency_selector
  assign locale_selector = false
  assign currency_selector = false

  if show_locale_selector and shop.published_locales.size > 1
    assign locale_selector = true
  endif

  if show_currency_selector and localization.available_countries.size > 1
    assign currency_selector = true
  endif
%}

<footer
  data-section-id="{{ section.id }}"
  data-section-type="footer"
  class="footer">

  <div id="shopify-section-template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64" class="shopify-section section-dynamic section-borderable">



    <section
      data-section-id="template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64"
      data-section-type="text-columns-with-images"
      class="section text-columns section--default section--bordered text-columns--alignment-center collection-list-grid--columns-4 animation animation--text-columns-with-images">


      <div class="text-columns__content grid-display grid-display--one-quarter">

        <div class="text-block text-columns__feature">
          <div class="mb3 w-100 text-columns__image db" style="max-width: 20%;">


            <div class="
                  image
                  
                  image--40687538471240
                  
                " style="">
              <img
                class="image__img lazyautosizes lazyloaded"
                src="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_300x300.svg?v=1678811297"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="1.0"
                data-sizes="auto"
                alt=""
                data-srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_180x.svg?v=1678811297 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_360x.svg?v=1678811297 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_540x.svg?v=1678811297 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_720x.svg?v=1678811297 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_900x.svg?v=1678811297 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1080x.svg?v=1678811297 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1296x.svg?v=1678811297 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1512x.svg?v=1678811297 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1728x.svg?v=1678811297 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_2048x.svg?v=1678811297 2048w"
                sizes="55px"
                srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_180x.svg?v=1678811297 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_360x.svg?v=1678811297 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_540x.svg?v=1678811297 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_720x.svg?v=1678811297 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_900x.svg?v=1678811297 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1080x.svg?v=1678811297 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1296x.svg?v=1678811297 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1512x.svg?v=1678811297 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1728x.svg?v=1678811297 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_2048x.svg?v=1678811297 2048w">
              <div class="image__shimmer"></div>
            </div>
            <style>
              .image--40687538471240 {
                padding-top: 100.0%;
              }
            </style>


          </div>
          <h3
            class="text-block__item text-block__heading type-heading-1-small"
            data-theme-editor-setting="section.template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64.block.template--18287000387912__14ac884f-7c8a-4032-95a8-e27d61f55b64-1678811057313f18f9-0.title"
            style="max-width: 16em;">
            Agence de voyage certifiée</h3>
        </div>

        <div class="text-block text-columns__feature">
          <div class="mb3 w-100 text-columns__image db" style="max-width: 20%;">


            <div class="
                  image
                  
                  image--40687538438472
                  
                " style="">
              <img
                class="image__img lazyautosizes lazyloaded"
                src="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_300x300.svg?v=1678811296"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="1.0"
                data-sizes="auto"
                alt=""
                data-srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_180x.svg?v=1678811296 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_360x.svg?v=1678811296 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_540x.svg?v=1678811296 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_720x.svg?v=1678811296 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_900x.svg?v=1678811296 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1080x.svg?v=1678811296 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1296x.svg?v=1678811296 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1512x.svg?v=1678811296 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1728x.svg?v=1678811296 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_2048x.svg?v=1678811296 2048w"
                sizes="55px"
                srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_180x.svg?v=1678811296 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_360x.svg?v=1678811296 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_540x.svg?v=1678811296 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_720x.svg?v=1678811296 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_900x.svg?v=1678811296 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1080x.svg?v=1678811296 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1296x.svg?v=1678811296 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1512x.svg?v=1678811296 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1728x.svg?v=1678811296 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_2048x.svg?v=1678811296 2048w">
              <div class="image__shimmer"></div>
            </div>
            <style>
              .image--40687538438472 {
                padding-top: 100.0%;
              }
            </style>


          </div>
          <h3
            class="text-block__item text-block__heading type-heading-1-small"
            data-theme-editor-setting="section.template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64.block.template--18287000387912__14ac884f-7c8a-4032-95a8-e27d61f55b64-1678811057313f18f9-1.title"
            style="max-width: 16em;">
            Accompagnement personnalisé</h3>
        </div>

        <div class="text-block text-columns__feature">
          <div class="mb3 w-100 text-columns__image db" style="max-width: 20%;">


            <div class="
                  image
                  
                  image--40687538405704
                  
                " style="">
              <img
                class="image__img lazyautosizes lazyloaded"
                src="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_300x300.svg?v=1678811296"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="1.0"
                data-sizes="auto"
                alt=""
                data-srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_180x.svg?v=1678811296 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_360x.svg?v=1678811296 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_540x.svg?v=1678811296 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_720x.svg?v=1678811296 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_900x.svg?v=1678811296 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1080x.svg?v=1678811296 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1296x.svg?v=1678811296 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1512x.svg?v=1678811296 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1728x.svg?v=1678811296 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_2048x.svg?v=1678811296 2048w"
                sizes="55px"
                srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_180x.svg?v=1678811296 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_360x.svg?v=1678811296 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_540x.svg?v=1678811296 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_720x.svg?v=1678811296 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_900x.svg?v=1678811296 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1080x.svg?v=1678811296 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1296x.svg?v=1678811296 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1512x.svg?v=1678811296 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1728x.svg?v=1678811296 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_2048x.svg?v=1678811296 2048w">
              <div class="image__shimmer"></div>
            </div>
            <style>
              .image--40687538405704 {
                padding-top: 100.0%;
              }
            </style>


          </div>
          <h3
            class="text-block__item text-block__heading type-heading-1-small"
            data-theme-editor-setting="section.template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64.block.template--18287000387912__14ac884f-7c8a-4032-95a8-e27d61f55b64-1678811057313f18f9-2.title"
            style="max-width: 16em;">
            Séjours en groupe &amp; sur-mesure</h3>
        </div>

        <div class="text-block text-columns__feature">
          <div class="mb3 w-100 text-columns__image db" style="max-width: 20%;">


            <div class="
                  image
                  
                  image--40687538667848
                  
                " style="">
              <img
                class="image__img lazyautosizes lazyloaded"
                src="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_300x300.svg?v=1678811297"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="1.0"
                data-sizes="auto"
                alt=""
                data-srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_180x.svg?v=1678811297 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_360x.svg?v=1678811297 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_540x.svg?v=1678811297 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_720x.svg?v=1678811297 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_900x.svg?v=1678811297 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1080x.svg?v=1678811297 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1296x.svg?v=1678811297 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1512x.svg?v=1678811297 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1728x.svg?v=1678811297 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_2048x.svg?v=1678811297 2048w"
                sizes="55px"
                srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_180x.svg?v=1678811297 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_360x.svg?v=1678811297 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_540x.svg?v=1678811297 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_720x.svg?v=1678811297 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_900x.svg?v=1678811297 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1080x.svg?v=1678811297 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1296x.svg?v=1678811297 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1512x.svg?v=1678811297 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1728x.svg?v=1678811297 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_2048x.svg?v=1678811297 2048w">
              <div class="image__shimmer"></div>
            </div>
            <style>
              .image--40687538667848 {
                padding-top: 100.0%;
              }
            </style>


          </div>
          <h3
            class="text-block__item text-block__heading type-heading-1-small"
            data-theme-editor-setting="section.template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64.block.20b4babd-51d7-48f8-bcc8-b2c675fef744.title"
            style="max-width: 16em;">
            Paiements sécurisés (CB, Mastercard &amp; en 3 fois)</h3>
        </div>

      </div>
    </section>

    <style>
      #shopify-section-template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64 section {
        background-color: #fcf2e5;
      }
      #shopify-section-template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64 .text-block__heading {
        font-size: 18px !important;
        line-height: 22px !important;
      }
      #shopify-section-template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64 .text-block__item {
        max-width: 10em !important;
      }
    </style>
  </div>

  <div class="footer__container">
    {% if section.blocks.size > 0 %}
      <section class="footer__groups">
        {%- for block in section.blocks -%}
          {%- assign rendered_image = blank -%}
          {%- if block.settings.image != blank -%}
            {%- capture rendered_image -%}
              <div class="footer__image--wrapper">
                {%- render 'image', image: block.settings.image, wrapper_class: 'footer__image' -%}
              </div>
            {%- endcapture -%}
          {%- endif -%}

          <div class="
                          footer__group
                          footer__group--{{ block.type }}
                          footer__group--{{ forloop.index }}
                          {% if block.settings.collapse_on_mobile and block.settings.title != blank %}footer__group--collapse{% endif %}
                          {% if forloop.first %}footer__group--first{% endif %}
                          {% if forloop.last %}footer__group--last{% endif %}
                          {% unless block.settings.show_title_on_desktop %}hide-title-on-desktop{% endunless %}
                        " style="
                            --desktop-width: {{ block.settings.desktop_width }}%;
                            --desktop-padding: {{ block.settings.desktop_padding }}%;
                            {% if block.settings.image_max_width %}--image-max-width: {{ block.settings.image_max_width }}px{% endif %}
                          ">
            {%- if block.settings.title != blank -%}
              <h4 class="footer__header overline{% if block.settings.collapse_on_mobile %} footer__header--collapsed{% endif %}">
                <span class="footer__heading fs-accent">{{ block.settings.title }}</span>
              </h4>
              {%- if block.settings.collapse_on_mobile -%}
                <button
                  type="button"
                  class="footer__header footer__header--mobile overline"
                  data-header>
                  <span class="footer__heading fs-accent">{{ block.settings.title }}</span>
                  <span class="footer__arrow">{% render 'icon-chevron-down' %}</span>
                </button>
              {%- endif -%}
            {%- endif -%}

            <div class="footer__group-content">
              {% if block.settings.title contains 'Suivez-nous' %}
                {%- assign social_icons_in_use = false -%}

                {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, TikTok, Tumblr, YouTube, Vimeo, LinkedIn,'
                  | split: ', ' -%}
                {%- for social in social_accounts -%}
                  {%- assign social_handle = social | handleize -%}
                  {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
                  {%- if settings[social_link] != blank -%}
                    {%- assign social_icons_in_use = true -%}
                  {%- endif -%}
                {%- endfor -%}
                {%- render 'social-icons' -%}
              {% endif %}
              {%- if block.type == 'text' -%}
                {%- if block.settings.image_placement == 'above_text' -%}
                  {{ rendered_image }}
                {%- endif -%}
                {%- unless block.settings.text == blank -%}
                  <div class="footer__text rte">{{ block.settings.text }}</div>
                {%- endunless -%}
                {%- if block.settings.image_placement == 'below_text' -%}
                  {{ rendered_image }}
                {%- endif -%}
              {%- elsif block.type == 'links' -%}
                {%- assign link_list = linklists[block.settings.link_list].links -%}
                <div class="footer__links">
                  {%- if link_list.size > 0 -%}
                    <ul class="list ma0 pa0">
                      {%- for link in link_list -%}
                        <li class="list-item ma0">
                          <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              {%- elsif block.type == 'newsletter' -%}
                <div class="footer__text rte mb3">{{ block.settings.text }}</div>

                <div class="footer__newsletter">
                  <div class="footer__input-wrap">
                    {% form 'customer' %}
                      {% assign form_id = 'FooterCustomerForm' %}
                      {% render 'form-status', form: form, form_id: form_id %}

                      {% if form.posted_successfully? %}
                        <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
                      {% else %}
                        <input
                          type="hidden"
                          name="contact[tags]"
                          value="newsletter">
                        <div class="newsletter__input-container">
                          <input
                            type="email"
                            class="input-reset input"
                            name="contact[email]"
                            id="{{ form_id }}-email"
                            value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
                            placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                            autocomplete="email"
                            autocorrect="off"
                            autocapitalize="off"
                            {% if form.errors contains 'email' %}
                            aria-describedby="{{ form_id }}-email-error"
                            {% endif %}
                            autocapitalize="off"
                            requiredd>
                          <label class="label--above" for="{{ form_id }}-email">
                            {{- 'general.newsletter_form.email_placeholder' | t -}}
                          </label>
                          <button class="footer__newsletter-button" aria-label="{{ 'general.newsletter_form.submit' | t }}">
                            <span class="visually-hidden">{{ 'general.newsletter_form.submit' | t }}</span>
                            {% render 'icon-arrow-forward' %}
                          </button>
                        </div>
                      {% endif %}
                    {% endform %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {%- endfor -%}
      </section>

      <hr class="footer__divider mt6-l mt3 mb3 b--solid b--default bb" style="border-top: 0; border-right: 0; border-left: 0;">

    {% endif %}

    {% if show_payment_icons %}
      <div class="footer__payment-icons mb2">
        {% unless shop.enabled_payment_types == empty %}
          <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
          <ul class="payment-icons list flex ma0 pa0">
            {% for type in shop.enabled_payment_types %}
              <li class="footer__payment-icon">
                {{ type | payment_type_svg_tag: class: 'icon' }}
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
      </div>
    {% endif %}

    <div class="footer__copyright">
      <p>
        &copy; {{ 'layout.footer.copyright' | t }}
        {{ 'now' | date: '%Y' }} &middot; {{ powered_by_link }}
      </p>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.footer.settings.language_header.content",
        "info": "t:sections.footer.settings.language_header.info"
      },
      {
        "type": "checkbox",
        "id": "show_locale_selector",
        "label": "t:sections.footer.settings.show_locale_selector.label",
        "default": true
      },
      {
        "type": "header",
        "content": "t:sections.footer.settings.currency_header.content",
        "info": "t:sections.footer.settings.currency_header.info"
      },
      {
        "type": "checkbox",
        "id": "show_currency_selector",
        "label": "t:sections.footer.settings.show_currency_selector.label",
        "default": true
      }, {
        "type": "header",
        "content": "t:sections.footer.settings.payment__header.content",
        "info": "t:sections.footer.settings.payment__header.info"
      }, {
        "id": "show_payment_icons",
        "type": "checkbox",
        "label": "t:sections.footer.settings.show_payment_icons.label",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.footer.blocks.text.name",
        "settings": [
          {
            "id": "desktop_width",
            "type": "range",
            "label": "t:sections.footer.blocks.shared.settings.desktop_width.label",
            "info": "t:sections.footer.blocks.shared.settings.desktop_width.info",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 30,
            "unit": "%"
          },
          {
            "id": "desktop_padding",
            "type": "range",
            "label": "t:sections.footer.blocks.shared.settings.desktop_padding.label",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 2,
            "unit": "%"
          },
          {
            "type": "checkbox",
            "id": "collapse_on_mobile",
            "label": "t:sections.footer.blocks.shared.settings.collapse_on_mobile.label",
            "info": "t:sections.footer.blocks.shared.settings.collapse_on_mobile.info",
            "default": true
          },
          {
            "id": "title",
            "type": "text",
            "label": "t:sections.footer.blocks.shared.settings.title.label",
            "info": "t:sections.footer.blocks.shared.settings.title.info",
            "default": "About us"
          }, {
            "id": "show_title_on_desktop",
            "type": "checkbox",
            "label": "t:sections.footer.blocks.shared.settings.show_title_on_desktop.label",
            "info": "t:sections.footer.blocks.shared.settings.show_title_on_desktop.info",
            "default": true
          }, {
            "id": "text",
            "type": "richtext",
            "label": "t:sections.footer.blocks.text.settings.text.label",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme settings.</p>"
          }, {
            "id": "image",
            "type": "image_picker",
            "label": "t:sections.footer.blocks.shared.settings.image.label"
          }, {
            "id": "image_max_width",
            "type": "range",
            "min": 50,
            "max": 350,
            "step": 10,
            "unit": "px",
            "label": "t:sections.footer.blocks.shared.settings.image_max_width.label",
            "default": 200
          }, {
            "id": "image_placement",
            "type": "select",
            "label": "t:sections.footer.blocks.text.settings.image_placement.label",
            "options": [
              {
                "value": "above_text",
                "label": "t:sections.footer.blocks.text.settings.image_placement.option_above_text"
              }, {
                "value": "below_text",
                "label": "t:sections.footer.blocks.text.settings.image_placement.option_below_text"
              }
            ],
            "default": "below_text"
          }
        ]
      }, {
        "type": "links",
        "name": "t:sections.footer.blocks.links.name",
        "settings": [
          {
            "id": "desktop_width",
            "type": "range",
            "label": "t:sections.footer.blocks.shared.settings.desktop_width.label",
            "info": "t:sections.footer.blocks.shared.settings.desktop_width.info",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 20,
            "unit": "%"
          },
          {
            "id": "desktop_padding",
            "type": "range",
            "label": "t:sections.footer.blocks.shared.settings.desktop_padding.label",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 4,
            "unit": "%"
          },
          {
            "type": "checkbox",
            "id": "collapse_on_mobile",
            "label": "t:sections.footer.blocks.shared.settings.collapse_on_mobile.label",
            "info": "t:sections.footer.blocks.shared.settings.collapse_on_mobile.info",
            "default": true
          },
          {
            "id": "title",
            "type": "text",
            "label": "t:sections.footer.blocks.shared.settings.title.label",
            "info": "t:sections.footer.blocks.shared.settings.title.info",
            "default": "Links"
          }, {
            "id": "show_title_on_desktop",
            "type": "checkbox",
            "label": "t:sections.footer.blocks.shared.settings.show_title_on_desktop.label",
            "info": "t:sections.footer.blocks.shared.settings.show_title_on_desktop.info",
            "default": true
          }, {
            "id": "link_list",
            "type": "link_list",
            "label": "t:sections.footer.blocks.links.settings.link_list.label",
            "info": "t:sections.footer.blocks.links.settings.link_list.info",
            "default": "footer"
          }
        ]
      }, {
        "type": "newsletter",
        "name": "t:sections.footer.blocks.newsletter.name",
        "limit": 1,
        "settings": [
          {
            "id": "desktop_width",
            "type": "range",
            "label": "t:sections.footer.blocks.shared.settings.desktop_width.label",
            "info": "t:sections.footer.blocks.shared.settings.desktop_width.info",
            "min": 10,
            "max": 100,
            "step": 1,
            "default": 30,
            "unit": "%"
          },
          {
            "id": "desktop_padding",
            "type": "range",
            "label": "t:sections.footer.blocks.shared.settings.desktop_padding.label",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 2,
            "unit": "%"
          },
          {
            "type": "checkbox",
            "id": "collapse_on_mobile",
            "label": "t:sections.footer.blocks.shared.settings.collapse_on_mobile.label",
            "info": "t:sections.footer.blocks.shared.settings.collapse_on_mobile.info",
            "default": true
          },
          {
            "id": "title",
            "type": "text",
            "label": "t:sections.footer.blocks.shared.settings.title.label",
            "info": "t:sections.footer.blocks.shared.settings.title.info",
            "default": "Newsletter"
          }, {
            "id": "show_title_on_desktop",
            "type": "checkbox",
            "label": "t:sections.footer.blocks.shared.settings.show_title_on_desktop.label",
            "info": "t:sections.footer.blocks.shared.settings.show_title_on_desktop.info",
            "default": true
          }, {
            "id": "text",
            "type": "richtext",
            "label": "t:sections.footer.blocks.newsletter.settings.text.label",
            "default": "<p>Subscribe for store updates and discounts.</p>"
          }
        ]
      }, {
        "type": "spacer",
        "name": "t:sections.footer.blocks.spacer.name",
        "settings": [
          {
            "id": "desktop_width",
            "type": "range",
            "label": "t:sections.footer.blocks.shared.settings.desktop_width.label",
            "info": "t:sections.footer.blocks.shared.settings.desktop_width.info",
            "min": 5,
            "max": 100,
            "step": 1,
            "default": 5,
            "unit": "%"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "text"
        }, {
          "type": "links"
        }, {
          "type": "spacer"
        }, {
          "type": "newsletter"
        }
      ]
    }
  }
{% endschema %}